<h1>Create a Performance:</h1>

<h3>Venue:</h3>

<!-- <form action="/companies/<%= @company.id %>/performances" method="POST" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <label>
    Please enter the name of an NYC theater:
    <input type="text" name="venue_name" placeholder="Venue name" />
  </label><br/>
 -->


<%= render "form" %>
