<h2>Create a Performance:</h2>

<form action="/companies/<%= @company.id %>/performances" method="POST" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <label>
    Enter the name of a theater in NYC:
    <input type="text" name="venue_name" placeholder="Venue name" />
  </label><br/>

  <label>
    Date
    <input type="date" name="date" />
  </label><br/>

  <label>
    Time
    <input type="time" name="time" />
  </label><br/>

  <button>Add Performance</button>
</form>





