<h1>Edit <%= @user.first_name %>'s Profile</h1>

<%= render partial: "shared/errors", locals: {entity: @user} %>

<%= render "user_info_form" %>

<%= link_to "Delete Profile", user_path(@user), method: "delete" %>