<main class="single-form">

  <%= render partial: "shared/errors", locals: { entity: @user } %>
  
  <h2 class="form-title">
    Edit <%= @user.first_name %>'s Profile
  </h2>

  <%= link_to "(Delete Profile)", user_path(@user), method: "delete", class: "delete-user" %>


  <%= render partial: "user_form", locals: { user: @user } %>

<div class="footer-fill"></div>

</main>

