<main class="single-form">

  <%= render partial: "shared/errors", locals: { entity: @user } %>

  <h2 class="form-title">
    Join the Community!
  </h2>

  <%= render partial: "user_form", locals: { user: @user } %>

</main>