<div id="d3-three">
  <div id="intro">
    <h3 id="intro-title">
      All DanceShare Videos
    </h3>
  </div>

  <div id="loading">
    <h5>Loading...</h5>
  </div>

  <div id="container">
    <div class="video-viz-summary-wrapper"></div>
  </div>
  <div id="menu"></div>
</div>

<%= javascript_include_tag "d3-three" %>

<script>
// var data = [
//   { "name" : "Emma Desjardins" },
//   { "name" : "Jennifer Goggans" },
//   { "name" : "Melissa Toogood" },
//   { "name" : "Keisha Turner" },
//   { "name" : "Kate Jewett" },
//   { "name" : "Chelsea Lynn-Acree" },
//   { "name" : "Kathryn Alter" },
//   { "name" : "Tara Lorenzen" },
//   { "name" : "Robert Swinston" },
//   { "name" : "Daniel Madoff" },
//   { "name" : "Aaron Loux" },
//   { "name" : "Francisco Graciano" },
//   { "name" : "John Hinrichs" }
// ]
  var data = [];
  for (var i = 0; i < 20; i++) {
    data.push({
      'name':'Francisco Graciano', 
      'video':'<iframe src="http://www.youtube.com/embed/4XMAx83j-fs" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/4XMAx83j-fs/2.jpg?time=1411926074714',
      'category':'Performance',
      'description':'This is the video description for Cisco.'
    });
    data.push({
      'name':'Chelsea Lynn-Acree', 
      'video':'<iframe src="http://www.youtube.com/embed/-7haGvQ8bio" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/-7haGvQ8bio/2.jpg?time=1411926461818',
      'category':'Career',
      'description':'This is Chelsea\'s video description.'
    });
    data.push({
      'name':'Daniel Madoff', 
      'video':'<iframe src="http://www.youtube.com/embed/RQHbUqZ7F6k" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/RQHbUqZ7F6k/3.jpg?time=1411926190497',
      'category':'Technique',
      'description':'Daniel Madoff\'s video description.'
    });
    data.push({
      'name':'Jennifer Goggans', 
      'video':'<iframe src="http://www.youtube.com/embed/BCgNfJD5OBU" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/BCgNfJD5OBU/2.jpg?time=1411926173102',
      'category':'Training',
      'description':'This is the video description for Ms. JG.'
    });
    data.push({
      'name':'Robert Swinston', 
      'video':'<iframe src="http://www.youtube.com/embed/m2IKZFx2eoo" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/m2IKZFx2eoo/2.jpg?time=1411926486393',
      'category':'Technique',
      'description':'This is the video description for Robert.'
    });
    data.push({
      'name':'Emma Desjardins', 
      'video':'<iframe src="http://www.youtube.com/embed/8oOi-AH00Z4" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>',
      'image':'https://i.ytimg.com/vi/8oOi-AH00Z4/2.jpg?time=1411926415616',
      'category':'Performance',
      'description':'For Ms. Emma Desjardins: this is her video description.'
    });

  }
    
  var d = function (data) {
    VIZ.drawElements(data);
    VIZ.transform('helix');
    d3.select("#loading").remove();
    VIZ.render();
    VIZ.animate();
    window.addEventListener('resize', VIZ.onWindowResize, false);
  };
  d(data);
</script>
