<div id="d3-three">
  <div id="intro">
    <h3 id="intro-title">
      All DanceShare Videos
    </h3>
  </div>

  <div id="loading">
    <h5>Loading...</h5>
  </div>

  <div id="container"></div>
  <div id="menu"></div>
</div>

<%= javascript_include_tag "d3-three" %>

<script>
// var data = [
//   { "name" : "Emma Desjardins" },
//   { "name" : "Jennifer Goggans" },
//   { "name" : "Melissa Toogood" },
//   { "name" : "Keisha Turner" },
//   { "name" : "Kate Jewett" },
//   { "name" : "Chelsea Lynn-Acree" },
//   { "name" : "Kathryn Alter" },
//   { "name" : "Tara Lorenzen" },
//   { "name" : "Robert Swinston" },
//   { "name" : "Daniel Madoff" },
//   { "name" : "Aaron Loux" },
//   { "name" : "Francisco Graciano" },
//   { "name" : "John Hinrichs" }
// ]
  var data = [];
  for (var i = 0; i < 125; i++) {
    data.push({"name":"The Dark Knight"});
  }
    
  var d = function (data) {
    VIZ.drawElements(data);
    VIZ.transform('helix');
    d3.select("#loading").remove();
    VIZ.render();
    VIZ.animate();
    window.addEventListener('resize', VIZ.onWindowResize, false);
  };
  d(data);
</script>
