<% if flash[:error] || entity.errors.messages.present? %>
  <div class="errors"/>
    
    <h3 class="error-title">
      Sorry, there was a problem...
    </h3>
    
    <% if flash[:error] %>
      
      <div class="error">
        <%= flash[:error] %>
      </div>
      
    <% else %>

      <ul>
        <% entity.errors.messages.each do |field, error| %>
          <li class="error">
            <em><%= "#{field.to_s.gsub("_", " ").capitalize}: #{error.first.capitalize}" %></em>
          </li>
        <% end %>
      </ul>

    <% end %>

  </div>
<% end %>