<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

<%= javascript_include_tag "google_places" %>

<!-- <main class="new-venue-map"> -->
  <h3 class="new-venue">
    Find Your Venue:
  </h3>

  <input id="pac-input" class="controls" type="text"
  placeholder="Enter a location">

  <div id="map-canvas"></div>

  <div class="submit-venue-wrapper">
    <button class="submit-venue">
      Use this Venue
    </button>
  </div>
<!-- </main> -->

<!-- 
<main class="single-form">
  
  <h2 class="form-title">
    Add a Run of Performances:
  </h2>

  <h3 class="form-subtitle">
    Find Your Venue:
  </h3>

  <%# form_for [@company, @venue], :html => {:class => "wide-thirty"} do |f| %>
    <%# f.label :name %>
    <%# f.text_field :name %>

    <%# f.label :address %>
    <%# f.text_field :address %>

    <%# f.submit %>
  <%# end %>

</main>

 -->