<main class="edit-company">

  <%= render partial: "shared/errors", locals: { entity: @company } %>

  <h2 class="company-form-title">
    Edit <%= @company.name %>'s Profile
  </h2>


  <%= render partial: "company_form", locals: { company: @company } %>

  <div class="footer-fill"></div>

</main>