<main class="single-form">

  <%= render partial: "shared/errors", locals: { entity: @company } %>

  <h2 class="form-title">
    Edit <em><%= @company.name %>'s</em> Profile
  </h2>


  <%= render partial: "company_form", locals: { company: @company } %>

</main>