<main class="single-form">
  
  <%= render partial: "shared/errors", locals: { entity: @company } %>

  <h2 class="form-title">
    Register a Dance Company
  </h2>

  <%= render partial: "company_form", locals: { company: @company } %>

  <div class="footer-fill"></div>
  
</main>