<main class="new-or-edit-company">
  <h1>Register a Dance Company</h1>

  <%= form_for @company do |f| %>
    <%= f.text_field :name, {placeholder: "Company name"} %>

    <%= f.submit "Create Company" %>
  <% end %>
</div>