<div class="company-profile-heading">
  <h1><%= @company.name %></h1>
  <span class="company-profile-edit">
    <%= link_to "edit", edit_company_path(@company) if current_user == @company.admin %>
  </span>
</div>

<%# @company.photo_url %>

<section class="runs">
  <h2>Runs</h2>

  <span class="add-run">
    <%= link_to "Add a Run", new_company_run_path(@company) %>
  </span>

  <% @company.runs.each do |run| %>
    
  <% end %>

</section>