<main class="new-run">
  
  <h2>
    Add a Run of Performances:
  </h2>

  <div class="select-venue-form">
    <h3>
      Select Venue:
    </h3>

    <form class="run-venue">
      <input type="text" placeholder="Venue Name" />
      <input type="text" placeholder="Address / City / State">
      <input type="submit">
    </form>
  </div>

    
</main>