<main class="single-form">
  
  <h2 class="form-title">
    Add a Run of Performances:
  </h2>

  <h3 class="form-subtitle">
    Select Venue:
  </h3>

  <form class="wide-thirty">
    <input class="venue-name" type="text" placeholder="Venue Name" />
    <input class="venue-address" type="text" placeholder="Address / City / State">
    <input type="submit">
  </form>
    
</main>

<%= javascript_include_tag "venues" %>