<main class="single-form">
  
  <h2 class="form-title">
    Add a Run of Performances:
  </h2>

  <h3 class="form-subtitle">
    Select Venue:
  </h3>

  <form class="wide-thirty">
    <input class="venue-name" type="text" placeholder="Venue Name" />
    <input class="venue-address" type="text" placeholder="Address / City / State">
    <input type="submit">
  </form>
    
</main>

<script type="template" class="venues-list">
  <section class="venues-wrapper">
    <ul class="venue-set">
    </ul>
  </section>
</script>

<script type="template" class="list-venue">
  <li class="single-venue-li" data-venue="<%%= venue %>">
    <div class="single-venue">

      <h4 class="venue-name">
        <%%= venue.name %>
      </h4>

      <img src="<%%= venue.image_url %>" />

      <div class="venue-info">
      
        <div class="venue-address-lines">
          <%% venue.display_address.split("\n").forEach(function(line) { %>
              <span>
                <%%= line %>
              </span>
          <%% }); %>
        </div>
      </div>

    </div>
  </li>
</script>

<%= javascript_include_tag "venues" %>