/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= normalize
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato);


/*COLORS: http://color.hailpixel.com/#1F1F22,A598AA,D9D3C1,37566D,1A2E46,9A593A,5740BF,*/

/*==========================================================*/
/*HEADER*/


header {
  background: rgb(26, 46, 70);
  width: 100%;
  /*height: 67px;*/
  font-family: 'Lato', sans-serif;
  position: relative;
}

header a {
  /*color: rgb(217, 211, 193);*/
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #D9D3C1;
}

div#header-title {
  /*padding-top: 8px;*/
  margin-top: -11px;
  padding-left: 75px;
  /*float: left;*/
  /*font-size: 2em;*/
  display: inline-block;
  /*vertical-align: middle;*/
}

div#header-search {
  display: inline-block;
  margin-top: 22px;
  margin-left: 15%;
  color: black;
}

header nav {
  display: inline-block;
  float: right;
  margin-top: 9px;
  padding-right: 60px;
  /*vertical-align: middle;*/
}

nav li {
  display: inline;
  padding: 0px 10px;
}

/*=============================================================*/
/*END HEADER*/



/*===============================================================*/

/*HOMEPAGE*/

#main {
  border: 1px solid red;
  width: 50%;
  float: left;
  margin-left: 150px;
  display: inline-block;
}

/*#home-sidebar {
  border: 1px solid blue;
  width: 20%;
  float: right;
  margin-right: 150px;
  display: inline-block; 
}*/

.section#home-recent, .section#home-upcoming {
  border: 2px solid red;
}

.section-recent {
  border: 1px solid black;
  width: 85px;
  margin: 0 auto;
}

.section-upcoming {
  border: 1px solid grey;
  width: 120px;
  margin: 0 auto;
}

.home-show {
  display: inline-block;
}

div.three-shows, ul {
  display: block;
}

div.three-shows, li {
  text-decoration: none;
  display: inline;
}

.home-company-photo {
  height: 200px;
  width: 325px;  
}

.home-company-name {
  display: block;
}

.home-show-info {
  display: block;
}


body {
  /*background: rgb(254, 234, 222);*/
  background: rgb(217, 211, 193);
  height: 100%;
  /*background: url("background.png");*/
  /*background-repeat: repeat;*/
  /*background: url("theater_audience_high_res.jpg");*/
  /*background-size: cover;
  background-position: center;*/
}

div#wrapper {
  position: relative;
  min-height: 100%;
}

div#clear-float {
  clear: both;
}

footer {
  /*width: 170px;
  margin: 0 auto;*/
  /*width: 100%;*/
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
}

a {
  color: blue;
}

/*form {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}
*/