/*COMPANY SHOW*/

.company-profile-heading {
  text-align: center;


  h1 {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 0;
  }

  .company-profile-edit {
    display: inline-block;
    margin-top: 0;
  }
}

.show-company-photo {
  width: 325px;  
  margin: 0 auto;

  img {
    width: 325px;
    height: 200px;
    margin: 30px auto;
  }
}

.runs {
  text-align: center;
  
  h2 {
    margin-bottom: 5px;
  }

  .add-run {
    display: block;
    text-align: center;
  }

  .run {
    text-align: center;
  }

  .indiv-run {
    a {
      color: firebrick;
    }
  }
}
