/*COMPANY SHOW*/

.company-profile-heading {
  text-align: center;

  h1 {
    text-align: center;
    margin-top: 65px;
  }

  span {
    display: inline-block;
    padding-left: 10px;
  }
}

.show-company-photo {
  width: 325px;  
  margin: 0 auto;

  img {
    width: 325px;
    height: 200px;
    margin: 0 auto;
  }
}

.runs {
  text-align: center;
  padding-bottom: 100px;
  
  h2 {
    margin-bottom: 5px;
  }

  .add-run {
    display: block;
    text-align: center;
  }

  .run {
    text-align: center;
  }

  .indiv-run {
    a {
      color: firebrick;
    }
  }
}

/*NEW*/
/*EDIT*/
/*==================================================*/

.new-or-edit-company {
  text-align: center;

  input[type=text], input[type=text]:focus {
    display: block;
    margin: 0 auto;
  }

  input[type=submit] {
      margin-top: 20px;
    }
}

