/*==========================================================*/
/*HEADER*/


header {
  background: rgb(26, 46, 70);
  width: 100%;
  font-family: 'Lato', sans-serif;
  position: relative;

  a {
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }

  a:hover {
    color: rgb(223, 228, 221);
    transition: ease-in 100ms;
  }  

  /*HEADER TITLE SECTION*/

  .header-title {
    width: 27%;
    display: inline-block;

    h1 {
      text-align: center;

    }
  }

  /*HEADER SEARCH*/

  .header-search {
    width: 50%;
    display: inline-block;

    .header-search-wrap {
      width: 80%;
      margin: 0 auto;

      form {
        margin: 0 auto;

        input[type=text] {
          width: 60%;
        }

        input[type=submit] {
          width: 20%;
        }
      }
    }
  }

  /*HEADER LOGIN/LOGOUT*/

  .header-links {
    width: 20%;
    margin-top: 16px;
    display: inline-block;
    float: right;
    
    ul {
      position: relative;

      li {
        display: inline-block;
        text-decoration: none;
        padding: 0px 10px;
      }
    }
  }
}


/*=============================================================*/
/*END HEADER*/


div#clear-float {
  clear: both;
}

.footer-fill {
  height: 500px;
}

footer {
  color: white;
  background: rgb(26, 46, 70);
  width: 100%;
  bottom: 0;
  height: 50px;
  text-align: center;
  margin-top: 100px;

  span {
    color: white;
    position: relative;
    bottom: -15px;
    font-size: .8em;
  }
}











