main.page-wrapper {
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  margin: 0;

  h2, h3 {
    text-align: center;
    padding: 20px 0;
    font-family: georgia, serif;
  }

  .videos-wrapper {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    
    ul.home-video-set {
      margin: 0 auto;
      list-style-type: none;
      display: inline-block;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 3px;
        width: 150px;
        text-align: center;
        vertical-align: top;
        

        .single-video {
          position: relative;
          top: 0;

          .full-title {
            display: none;
            position: fixed;
            background: rgb(253, 245, 219);
            color: black;
            font-size: .8em;
            max-width: 250px;
            z-index: 1;
            border: 1px solid black;
          }

          li.single-video:hover .sample {
            display: inline-block;
            position: absolute;
            width: 500px;
          }

          iframe {
            text-align: center;
          }
          
          .video-author {
            height: 35px;
            margin: 4px;
          }
          
          .video-title {
            height: 40px;
            margin: 4px;
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }

  .reviews-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .sidebar-wrapper {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    float: right;

    h3 {
      text-align: left;
      margin-left: 9px;
    }

    ul {
      list-style-type: none;
      padding-top: 1px;
      margin-left: 10px;

      li {
        margin: 7px 0;
      }
    }
  }
}

/*.homepage-links {

  .videos, .reviews {
    display: inline-block;
    padding-left: 50px;
    padding-top: 50px;
    height: 700px;
  }
}
*/
.home-mission {
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    width: 520px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;  
  }
}

.companies {
  text-align: center;

  .company-link {
    display: block;
    text-align: center;
  }
}

.home-recent {
  margin-top: 70px;
  padding-bottom: 50px;

  h2 {
    width: 265px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.home-upcoming {
  h2 {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
  }
}


.three-shows {
  display: block;
  
  .home-show {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
  
    .reviews-link {
      display: block;

      a {
        display: block;
        width: 200px;
        margin: 0 auto;
      }
    }

    .home-company-photo {
      height: 200px;
      width: 325px;  
      margin: 20px auto;

      img {
        width: 325px;
        height: 200px;
        margin: 0 auto;
      }
    }

    ul {
      display: block;
      width: 400px;
      margin: 0 auto;
      margin-top: 15px;
      text-align: center;  
    }

    li {
      text-decoration: none;
      display: inline;
    }

    .home-show-info {
      display: block;
      
      a {
        display: block;
        width: 500px;
        text-align: center;
        margin: 0 auto;
      }

      ul li {
        display: inline-block;
      }
    }
  }
}
