@media (max-width: 1000px) {
  
  /*VENUE NEW*/
  /*================================================*/

  main.new-venue {
    width: 800px;
  }
}


@media (max-width: 900px) {
  
  body {
    .page-wrapper {

      .header-links {
        margin-top: 13px;
      }

      .videos-wrapper, .reviews-wrapper {
        width: 45%;
      }
    }
  }


  /*VENUE NEW*/
  /*================================================*/

  main.new-venue {
    width: 700px;
  }
}


@media (max-width: 800px) {
  body {

    .page-wrapper {
      .videos-wrapper, .reviews-wrapper {
        width: 95%;
      }
    }
  }
}

@media (max-width: 700px) {

  header {
    font-size: .7em;
    
    .header-links {
      margin-top: 9px;
      
      ul li {
        padding: 0 5px;
      }
    }
  }

  main.page-wrapper {

    .videos-wrapper, .reviews-wrapper, .sidebar-wrapper {
      width: 80%;
      display: block;
      margin: 0 auto;
      float: none;
    }
  }


  /*VENUE NEW*/
  /*================================================*/

  main.new-venue {
    width: 500px;
  }
  
}


@media (max-width: 600px) {
  
  header {
    margin-top: -20px;

    .header-title {
      display: block;
      margin: 0 auto;
      padding-top: 20px;
    }

    .header-search {
      width: 70%;

      .header-search-wrap {
        padding-bottom: 10px;

        form {
          margin: 0 auto;
        }
      }
    }

    .header-links {
      width: 20%;

    }
  }

  /*VENUE NEW*/
  /*================================================*/

  main.new-venue {
    width: 300px;
  }
  
}

