/*===================================*/
/*SHOW*/

.review-set {
  list-style-type: none;
}

.single-review-wrapper {
  width: 66%;
  padding: 20px;
}

.single-review {
  background: rgba(212, 212, 212, .8);
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 3px;

  .review-company {
    display: block;
  }

  .review-venue {
    display: block;
    font-size: .8em;
    color: dark-grey;
    margin-bottom: 13px;
  }
  
  .review-info {
    margin-bottom: 6px;
    display: inline-block;

    .review-title {
      font-style: italic;
      font-weight: bold;
    }

    .review-rating {
      padding-left: 10px;
    }

  }

  .review-author {
    font-size: .8em;
    padding-left: 10px;
    display: inline-block;
  }

  .review-text {
    display: block;
    padding-bottom: 7px;
  }

  .review-link {
    font-size: .8em;
    padding-right: 5px;
  }

  .edit-review-link {
    font-size: .8em;
  }

  .review-votes {
    padding-top: 10px;

    .vote-count {
      display: inline-block;
      margin-right: 12px;
      background: rgba(96, 96, 96, .8);
      border-radius: 20px;
      padding: 5px 10px;

      span {
        color: white;
      }
    }

    .vote-buttons {
      display: inline-block;
    }

  }
}
