/*NEW*/

.new-perf-review {
  text-align: center;

  .new-review {
    input[type=submit] {
      margin-top: 20px;
    }

    input[type=textarea] {
      padding-top: 15px;
      padding-bottom: 15px;

    }
  }
}
