/*SHOW*/

.run-show-info {
  text-align: center;
}


.add-performance {
  padding-top: 15px;

  .new-performance {
    padding-top: 10px;
  }
}

.hidden {
  visibility: hidden;
}

.hide-button-text {
  content: "Hide";
}

.performance-reviews {
  
  padding-top: 35px;
  margin: 0 auto;

  .performance-review-heading {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  .perf-review {
    text-align: center;
  }
}

/*NEW*/
/*================================================*/

.new-run {
    text-align: center;
  h2 {
  }
}

.venue-list {
  margin-bottom: 20px;

  .single-venue {
    padding-left: 20px;
    vertical-align: top;
    display: inline-block;
  }

  label {
    display: block;
    margin-top: 25px;
  }

  img {
    display: inline-block;
    margin: 10px auto;
  }

  span {
    display: block;
  }
}




















