/*TODO: the autocomplete does not move with window re-size*/

.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 1px solid #999;
  cursor: default;
  width: 10%;
  
  li {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    
    a {
      color: #000;
      display: block;
      padding: 3px;
    }

    a.ui-state-hover, a.ui-state-active {
      background: #DFDAED;
    }
  }
}

.ui-helper-hidden-accessible { 
  display: none;
}
