/*SHOW*/

.user-profile-heading {
  margin: 40px 0 0 50px;
  width: 50%;
  vertical-align: top;

  .gravatar {
    display: inline-block;
    border-radius: 8px;
    margin-right: 25px;
  }

  .user-profile-info {
    display: inline-block;
    margin-top: 13px;
    vertical-align: top;
    
    h3 {
      display: block;
      margin-top: 0px;
      margin-bottom: 3px;
    }

    .user-email {
      display: inline-block;
      /*margin-top: -16px;*/
      margin-right: 5px;
    }

  }
}

.inline-link {
  display: inline;
}

.user-companies {
  padding: 70px 0 30px 0;
  margin-left: 50px;

  h2, a {
    margin: 0;
    text-align: left;
  }

  li {
    display: inline-block;
  }

  .small {
    font-size: 0.7em;
    font-weight: normal;
  }
}


.user-show-reviews {
  width: 66%;
  display: inline-block;
  margin-left: 50px;

  h2 {
    width: 350px;
  }
}



