.video-show {
  display: inline-block;
  width: 100%;

  .main-video {
    text-align: center;

    .video-title {
      margin-top: 50px;
    }

    iframe {
      margin-top: 15px;
      width: 640px;
      height: 360px;
    }

    .video-description {
      position: relative;
      display: inline-block;
      line-height: 1.3em;
      width: 45%;
    }

    .video-category {
      margin-top: 80px;
    }

  }
}