<span class="review-company">
  <%= link_to review.performance.run.company.name, company_path(review.performance.run.company) %>
</span>

<span class="review-venue">
  <%= review.performance.run.venue.name %>,  
  <%= review.performance.pretty_date %>
</span>