<h2>
  Review of <%= @company.name %>:
</h2>

<%= render partial: "review", locals: {review: @review} %>

<%= link_to "View all Reviews of this Performance", 
    company_performance_path(@company, @review.performance) %>
