<h1>Create a Performance:</h1>

<h2>Venue:</h2>

<%= render "performance_venues" %>

<h2><strong>Otherwise, please search:</strong></h2>

<%= form_for @company, url: new_company_venue_path(@company), method: :get do |f| %>
  
  <%= f.text_field :venue_name, :placeholder => "Venue Name" %>
  
  <%= f.submit "Search for Venue" %>
<% end %>

<%# render "shared/search_venue_form" %>
